.h{
    &-32{
        height: 32px;
    }
    &-62{
        height: 62px;
    }
    &-185{
        height: 185px;
    }
    &-160{
        height: 160px;
    }
    &-200{
        height: 200px;
    }
    &-400{
        height: 400px;
    }
}
.w{
    &-32{
        width: 32px;
    }
}
.fz-28{
    font-size: 28px;
}
.letter-spacing{
    letter-spacing: 0.03em
}
.lineHeight-lg{
    line-height: 1.8;
}

.radius{
    &-4{
        border-radius: 4px;
    }
    &-6{
        border-radius: 6px;
    }
    &-12{
        border-radius: 12px;
    }
    &-16{
        border-radius: 16px;
    }
    &-20{
        border-radius: 20px;
    }
    &-24{
        border-radius: 24px;
    }
}


.hover-searchBtn{
    &:hover{
        background: $secondary;
    }
}
.bg-searchInput{
    background: #F9F9F9;
}
.bg-foodDescrption{
    background: #F9F9F9;
}

.swiper-pagination-bullet,.swiper-pagination-bullet-active{
    background: #fff !important;
}
.swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
}

.page-item.active .page-link {
    z-index: 3;
    color:#65895F; 
    background-color: #fff;
    border: 1px solid #65895F;
    border-color: #7F977B;
}

.disabled-color{
    background: #E5E5E5;
    opacity: 0.5;
}
nav .nav-item{
    transition: all .3s;
    &:hover{
        border-bottom: 2px solid #E0DA48;;
    }
}
.searchInput{
    width: 350px;
}

.infrom-descrp{
    padding:  30px 15px ;
}
@include media-breakpoint-up(lg) {
    .infrom-descrp{
        padding: 30px 42px 60px 30px;
    }
}

.other-inform{
    padding: 25px 44px 25px 44px ;
}

.other-inform-border-color{
    border: 1.33px solid  #E5E5E5;
}

.category-tag{
    border: 1px solid #BEA363;
    padding: 3px 18px;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
}

